
// Colors

// General
$white: #fff; // 255,255,255
$black: #000; // 0,0,0
$gray: #919396;


// Scaffolding
$font-family-base: Arial, sans-serif !default;
$font-size-base: 14px !default;
$line-height-base: 1.42857 !default;
$font-weight-base: normal !default;
$text-color: $black !default;
$body-bg: $white !default;
$text-selection-bg-color: #b3d4fc;
$link-color: #428bca;
$link-hover-color: #428bca;

// Layouts
$container-width: 992px !default;

// Type
$font-family-regular: "Roboto", Arial, sans-serif !default;
$heading-font: $font-family-regular !default;
$heading-color: $black !default;
